<%- include('./_includes/header'); -%>
<main class="highscore__main">
    <h3 class="highscore__leaderboard">
        leader<span>board</span>
    </h3>

    <div class="highscore__scores">
        <% scores.forEach((score, index) => { %>
            <div class="score">
                <div class="score__name">
                    <div class="score__position"><%= score.rank %></div>
                    <div><%= score.name %></div>
                </div>
                <div class="score__value">
                    <div><%= score.value %></div>
                    <div></div>
                </div>
            </div>
        <% }) %>
        <div class="pagination">
            <a 
                class="pagination__link" 
                <% if (page > 1) {%>  
                    href="/?page=<%= page - 1 %>"
                <% } %>
            >
                previous
            </a>
            <p class="pagination__page">
                <%= page %> / <%= pages %>
            </p>
            <a 
                class="pagination__link" 
                <% if (page < pages) { %> 
                    href="/?page=<%= page + 1 %>"
                <% } %>
            >
                next
            </a>
        </div>
    </div>
</main>

<%- include('./_includes/footer'); -%>