<%- include('./_includes/header', { 
        title: `${locals.HIGHSCORE_TITLE} | ${score.name}`,
        description: `I made a score of ${score.value} on ${locals.HIGHSCORE_TITLE}` 
    }); 
-%>
    <main class="highscore__main highscore__main--left">
        <div class="highscore__text">
            <p class="highscore__label"><span>#</span><%= score.rank %></p>
            <p class="highscore__data"><%= score.name %></p>
        </div>

        <div class="highscore__text">
            <p class="highscore__label">Score</p>
            <p class="highscore__data"><%= score.value %></p>
        </div>

        <div class="highscore__text">
            <p class="highscore__label">Date</p>
            <p class="highscore__data">
                <%= $day(score.createdAt).format('DD/MM/YY') %>
            </p>
        </div>

        <% if (score.meta && typeof score.meta === 'object') { %>
            <% Object.keys(score.meta).forEach((key) => { %>
                <div class="highscore__text">
                    <p class="highscore__label"><%= key %></p>
                    <p class="highscore__data"><%= score.meta[key] %></p>
                </div>
            <% }) %>
        <% } %>

        <div class="highscore__text">
            <button 
                class="share" 
                data-title="<%= locals.HIGHSCORE_TITLE %>" 
                data-text="I made a score of <%= score.value %> on <%= locals.HIGHSCORE_TITLE %>" 
                data-url="/score/<%= score._id %>"
            >Share</button>
        </div>
    </main>
<%- include('./_includes/footer'); -%>